/* Importing the CSS files */
@import url('css/style.css');

/* Div 'sw-video' : make it 1280x720, center it (vertically and horizontally) on the page
and make the video inside it fill the div */
.sw-video {
    width: 1280px;
    height: 720px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sw-video video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}